---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---
<header class="test-header">
    <h1>App Museum</h1>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>